[Desktop Entry]
Type=Application
Version=1.0
Name=Instalar METTA OS
GenericName=Instalador METTA OS
Comment=Instala METTA OS en tu disco duro
Exec=calamares-install-metta
Icon=/usr/share/icons/metta/128x128/apps/mettaos.png
Terminal=false
Categories=Qt;System;X-XFCE;
Keywords=calamares;install;metta;instalador;
StartupWMClass=calamares
StartupNotify=true
OnlyShowIn=XFCE;
