[Desktop Entry]
Type=Application
Name=METTA Package Manager
Comment=METTA OS — METTA Package Manager
Exec=metta-pkg-gui
Icon=/usr/share/icons/metta/128x128/apps/mettaos.png
Categories=PackageManager;
Terminal=false
StartupNotify=true
