[Desktop Entry]
Version=1.0
Type=Application
Name=METTA OS
Comment=Sistema operativo METTA OS
Exec=xfce4-about
Icon=/usr/share/metta/branding/metta-logo-256.png
Terminal=false
Categories=System;
